<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Welcome to Waypoint</h1>
    <p>
      Congrats on deploying a node.js app using Waypoint. From here you can edit this project and continue to use it to develop your app, if you so wish.
    </p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/hashicorp/waypoint-examples"><span class="glyphicon glyphicon-download"></span> Waypoint Examples</a>
  </div>
</div>

</body>
</html>
