@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET on Waypoint";
}

<h1>This ASP.NET app was deployed with Waypoint.</h1>
<p>
    Try making a change to this text locally and run <code>waypoint up</code> again to see it.
</p>
<p>
    Read the <a href="https://waypointproject.io/docs">documentation</a> for more about Waypoint.
</p>
