.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px - 60px);
  padding: 80px 60px 60px;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid rgba(var(--brand), .5);
  background: rgba(var(--brand), .15);
}